/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 * {
     margin: 0px;
     font-family: Arial, sans-serif;
 }

 .header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 150px;
    height: 200px;
    display: flex;
    margin-top: -20px;
    margin-right: 10px;
    margin-left: -20px
}

.header__logo img {
    z-index: 1;
}

.header__optionMapIcon {
    display: flex;
    align-items: center;
    color: white;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 30px;
}

.header__search input {
    // display: flex;
    // flex: 1;
    // align-items: center;
    border-radius: 5px;
}

.header__searchIcon {
    padding: 5px;
    height: 35px;
    background-color: #cd9042;
    border-radius: 4px;
    margin-left: -37px;
    cursor: pointer;
}

.header__searchInput {
    height: 14px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionLineOne {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.header__optionLineTwo {
    font-size: 14px;
    font-weight: 800;
    font-family: Arial, sans-serif;
}

.header__optionLineTwo p{
    text-decoration: none;
    color: white;
}

.header__optionModelClear{
    display: none;
}

.header__optionModelEngaged button{
    display: flex;
    // margin-bottom: -100px;
    cursor: pointer;
    border-radius: 8px;
    background: #FFD814;
    border-color: #FCD200;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


// SUB HEADER


.subheader__components{
    display: flex;
    gap: 20px;
    padding-left: 11px;
    height: 39px;
    background-color: #232f3e;
    color: white;
    text-decoration: none;
    z-index: 100;
}

.subheader__components p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.subheader__components a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    z-index: 100;
}



/* LOGIN */

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    /* display: flex;
    justify-content: center; */
}

.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container {
    /* justify-content: left; */
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px; 
}

.login__container > form > h5 {
    margin-bottom: 5px; 
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-width: 1px;
    border-radius: 3px;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}

/* .login__errors {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 15px;
} */




/* SIGNUP */

.signup__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    /* display: flex;
    justify-content: center; */
}

.signup {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__container {
    /* justify-content: left; */
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.signup__container > h1 {
    font-weight: 500;
    margin-bottom: 20px; 
}

.signup__container > form > h5 {
    margin-bottom: 5px; 
}

.signup__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-width: 1px;
    border-radius: 3px;
}

.signup__container p {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

.signup__signUpButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.signup__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}

.signin__registerLink {
    font-size: 12px;
    margin-top: 15px;
}

/* .signin__redirect {
    font-size: 12px;
    margin-top: 10px;
} */

/* .signup__errors {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 15px;
} */

//ERRORS

.login__errors {
    color: red;
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
    margin-left: -31px;
}

// HOMEPAGE

.home {
    background-color: #EAEDED;
    // height: 100vh;
    background-size: cover;
}

.homepage_containerbackgroundImage {
    background-image: url("https://amazoon-seeds.s3.amazonaws.com/Amazon+background+Imagev2.jpg");
    min-height: 600px;
    background-position: center;
    background-size: cover;
    z-index: 1;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0));
}

.homepage__container {
    max-width: 1500px;
    margin: 0 auto;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    // height: 100vh;
}

.homepage_containerContentsRow1 {
    // background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -350px;
    // z-index: 100;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 300px;
}

.homepage_containerAmazonsChoice{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 100;
    width: 320px;
    height: 420px;
}

.homepage_containerAmazonsChoiceContents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin: 20px 5px 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.homepage_containerAmazonsChoiceContents img{
    width: 290px;
    height: 350px;
}

.homepage_containerAmazonsChoice h4{
    display: flex;
    justify-content: left;
    font-size: 21px;
    font-weight: bold;
}

.homepage_containerClassicRead{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 100;
    width: 320px;
    height: 420px;
}

.homepage_containerClassicReadContents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin: 20px 5px 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.homepage_containerClassicRead h4{
    display: flex;
    justify-content: left;
    font-size: 21px;
    font-weight: bold;
}

.homepage_containerClassicRead img{
    width: 290px;
    height: 350px;
}

.homepage_containerDiscounted{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 100;
    width: 320px;
    height: 420px;
}

.homepage_containerDiscountedContents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin: 20px 5px 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.homepage_containerDiscounted h4{
    display: flex;
    justify-content: left;
    font-size: 21px;
    font-weight: bold;
}

.homepage_containerDiscounted img{
    width: 290px;
    height: 350px;
}

.homepage_containerContents2 {
    // background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -0px;
    // z-index: 100;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 100px;
}

.homepage_containerRow1EndCol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}

.homepage_containerEndCol1{
    background-color: white;
    max-width: 300px;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.homepage_containerEndCol1Container1{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.homepage_containerEndCol1Container1 img{
    width: 50px;
    height: 50px
}

.homepage_containerEndCol2{
    background-color: white;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    height: 220px;
}

.homepage_containerEndCol1Container2{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

.homepage_containerEndCol2 img{
    height: 100px;
    width: 100px
}

.homepage_containerEndCol2 p{
    display: flex;
    justify-content: left;
    font-size: 21px;
    font-weight: bold;
}

.homepage_containerContentsRow2{
        // background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -300px;
        // z-index: 100;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 300px;
}

.homepage_containerContents{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.homepage_footer{
    align-items: stretch;
}

//PRODUCT

.product__container {
    background-color: white;
    z-index: 100;
    flex: 1;
    padding: 20px;
    margin: 10px;
    // max-height: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.product__componentPrice {
    font-weight: 500;
    margin-top: 3px;;
}

.product__componentImage {
    max-height: 200px;
    object-fit: contain;
}

.product__componentCart {
    width: 100px;
    height: 30px;
    background-color: #f0c14b;
    border: 2px solid #a88734;
    border-radius: 2px;
    justify-content: center;
}

.product__componentCartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.product__componentTitle {
    max-width: 400px;
}

// FOOTER


.footertop__component{
    height: 50px;
    background-color:#37475a;
    // position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footertop__componentText{
    color: white;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footertop__componentGithub{
    color: white;
    // width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footertop__componentGithub a{
    text-decoration: none;
    color: inherit;
}

.footertop__componentLinkedIn{
    color: white;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footertop__componentLinkedIn a{
    text-decoration: none;
    color: inherit;
}

.footermid__component{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #232F3E;
    color: white;
}

.footermid__componentcol{
    display: flex;
    flex-direction: column;
}

.footermid__componentcol h4{
    font-size: 16px;
    padding-bottom: 15px;
}

.footermid__componentcol p{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px ;
}

.footerbottom__component{
    background-color: #232f3e;
}

.footerbottom__component hr{
    color: #999;
}

.footerbottom__contents{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footerbottom__contents img{
    height: 200px;
    width: 200px;
    margin: -20px;
}

// SPECIFIC PRODUCT

.specificProduct__ad {
    display: flex;
    justify-content: center;
}

.specificProduct__container {
    display: flex;
    // justify-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    flex-direction: column;
    // width: 70%;
    // max-width: 700px;
    // border-bottom: 2px solid #ddd;
}

.specificProduct__containerTop {
    display: flex;
    // justify-self: center;
    // padding-top: 30px;
    // padding-bottom: 30px;
    justify-content: center;
    // width: 70%;
    // max-width: 700px;
    // border-bottom: 2px solid #ddd;
}
.specificProduct__containerBottom {
    display: flex;
    // padding-right: 200px;
    // width: 500px;
    // justify-self: center;
    // padding-top: 30px;
    // padding-bottom: 30px;
    justify-content: center;
    // width: 70%;
    // max-width: 700px;
    // border-bottom: 2px solid #ddd;
}

.specificProduct_continerContentHeader {
    margin-bottom: 20px;
} 

.specificProduct__container > hr {
    background-color: #e7e7e7;
    height: 1px;
}

.specificProduct__containerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ddd;

}

.specificProduct__containerImage img {
    height: 500x;
    width: 350px;
}

.specificProduct_continerContent {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    // justify-content: space-evenly;
    padding: 15px;
    border-bottom: 2px solid #ddd;

}

.specificProduct__containerTitle {
    font-size: 28px;    

}

.specificProduct__containerTitleSubtext{
    color: lightgray;
}



.specificProduct__containerImage{
    display: flex;
    align-items: flex-start;

}

.specificProduct__containerBookOptions{
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    width: 70px
}


.specificProduct__containerBookOptions button {
    background-color: #fff;
    border-radius: 3px;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    text-align: left;
    width: 100px;
}

.specificProduct__containerBookOptionsActive {
    border-color: #FF8F00
}



.specificProduct__containerDescription{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.specificProduct__checkoutContainer {
    max-width: 220px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 4px rgb(211,211,211);
    display: flex;
    flex-direction: column;
    height: 200px;
    border-bottom: 2px solid #ddd;

}

.specificProduct__checkoutContainerParams {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.specificProduct__checkoutContainerForm{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}


// .specificProduct__checkoutContainerButton {
//     display: flex;
//     // align-content: center;
// }

.specificProduct__containerFileContent{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.specificProduct__containerIcons {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.specificProduct__containerIconsPrintLength{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.specificProduct__containerIconsLanguage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.specificProduct__containerIconsPublisher{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.specificProduct__checkoutContainerDisclosure{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 11px;
}

.specificProduct__checkoutContainerButton{
    display: flex;
    justify-content: center;
}

.specificProduct__checkoutContainerButton button {
    background-color: #ffa41c ;
    border-color: #FF8F00;
    cursor: pointer;
    align-content: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    margin-top: 15px;
}

//Cart

.cart__page{
    background-color: #EAEDED!important;
    min-height: 1000px;
}

.cart__component{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    gap: 10px
}

.cart__componentItems{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DDD;
    background-color: #fff;
    width: 1000px;
    padding: 20px;
}

.cart__componentItems h3{
    display: flex;
    justify-content: left;
    font-size: 28px;
}

.cart__componentPrice p{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    color: #565959;
}

.cart__componentItemComponents{
    display: flex;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cart__componentItemComponents img{
    height: 213px;
    width: 150px;
}

.cart__componentItemDetails{
    gap: 10px;
    width: 600px;
}

.cart__componentItemDetailsQty{
    display: flex;
    gap: 10px;
}

.cart__componentPriceItem p{ 
    font-size: 18px;
    width: 230px;
    display: flex;
    justify-content: flex-end;
}

.cart__componentSubtotal p{
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.cart__componentSubtotal {
    display: flex;
    justify-content: flex-end;
}

.cart__componentCheckout{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    padding: 20px;
    gap: 10px;
}

.cart__componentCheckout h4{
    color: green;
    font-weight: bold;
    font-size: 30px;
}

.cart__componentCheckoutButton{
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.cart__componentCheckoutButton button{
    border-radius: 8px;
    background: #FFD814;
    border-color: #FCD200;
    width: 250px;
    height: 30px;
}

// HOME PRODUCT

.productPage__home{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    min-height: 1000px;
    gap: 20px;
}

.productPage__homeSideBar{
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid #ddd;
    padding: 10px;
    min-width: 200px;
    height: 100vh
}

.productPage__homeSideBarBox1{
    display: flex;
    align-items: flex-start;
    // justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.productPage__homeSideBarBox2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.productPage__homeSideBarBox2 img {
    height: 100px;
    width: 100px;
}

.productPage__homeSideBarBox3{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.productPage__homeSideBarBox4{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.productPage__homeSideBarBox4 P{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.productPage__homeProductDisplay{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    border-bottom: 2px solid #ddd;
}

.productPage__homeProductDisplayItem{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    justify-content: flex-start;
}

.productPage__homeProductDisplayItem a{
    text-decoration: none;
    color: black
}

.productPage__homeProductDisplayItemImage{
    display: flex;
}

.productPage__homeProductDisplayItemImage img{
    display: flex;
    width: 150px;
    height: 225px;
}

.productPage__homeProductDisplayItemDetails{
    display: flex;
    flex-direction: column;
}

.productPage__homeProductDisplayItemPrice{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.productPage__homeProductDisplayItemPrice img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

// Product Review Index
.review__container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    // justify-content: center;
}

.review__containerRightCol{
       display: flex;
       flex-direction: column; 
       width: 700px;
}

.review__containerLeftCol{
       display: flex; 
       flex-direction: column;
       width: 400px
}


// create review form

input[type="radio"]{
    display: none;
}

.review__containerCustomerReviewNew{
    margin-bottom: 30px;
}

//Progress Bars

.progress_bars {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.progress_bars_individual {
    display: flex;
    align-items: center;
    height: 50px;
    width: 300px;
}

.progress_bars_individual p{
    width: 140px;
}

//Mapped Reviews
.mappedReviews{
    width: 500px;
}

.deleteEditReviewContainer{
    display: flex;
}

.reviewPersonContainer{
    display: flex;
    align-items: center;
}

.review__reviewContentContainer{
    margin-bottom: 25px;
}

.reviewPersonUsername{
    margin-left: 10px;
}

.reviewPersonIcon img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.reviewDescription{
    margin-bottom: 15px;
}

.reviewButton button{
    background: #FFF;
    border-radius: 3px;
    border-color: #D5D9D9;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    width: 300px;
    margin-top: 10px;
    height: 25px;
}

.editdeleteButton button {
    background: #FFF;
    border-radius: 3px;
    border-color: #D5D9D9;
    cursor: pointer;
    align-content: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin: 10px
}

//Edit / create Review
.star-ratings {
    color: #FF9900;
}

.reviewForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.overallRating{
    margin: 20px 10px 10px 10px;
}

.ratingHeadline{
    margin: 20px 10px 10px 10px;
}

.ratingHeadline input{
    width: 500px;
}

.writtenReview{
    margin: 20px 10px 10px 10px;
}

.writtenReview textarea{
    width: 500px;
}

.submitReview{
    margin: 20px 10px 10px 10px;
}   

.submitReview button{
    background: #FFD814;
    border-color: #FCD200;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}  

// search return 

.noMatches{
    size: 30px;
    align-items: center;
}
