/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 * {
     margin: 0px;
     font-family: Arial, sans-serif;
     
 }

 .header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 50%;
    height: 60px;
    display: flex
}

.header__optionMapIcon {
    display: flex;
    align-items: center;
    color: white;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 30px;
}

.header__searchIcon {
    padding: 5px;
    height: 22px;
    background-color: #cd9042;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionLineOne {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.header__optionLineTwo {
    font-size: 14px;
    font-weight: 800;
    font-family: Arial, sans-serif;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}







/* LOGIN */

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    /* display: flex;
    justify-content: center; */
}

.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container {
    /* justify-content: left; */
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px; 
}

.login__container > form > h5 {
    margin-bottom: 5px; 
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-width: 1px;
    border-radius: 3px;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}

/* .login__errors {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 15px;
} */




/* SIGNUP */

.signup__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    /* display: flex;
    justify-content: center; */
}

.signup {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__container {
    /* justify-content: left; */
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.signup__container > h1 {
    font-weight: 500;
    margin-bottom: 20px; 
}

.signup__container > form > h5 {
    margin-bottom: 5px; 
}

.signup__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-width: 1px;
    border-radius: 3px;
}

.signup__container p {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

.signup__signUpButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.signup__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
}

.signin__registerLink {
    font-size: 12px;
    margin-top: 15px;
}

/* .signin__redirect {
    font-size: 12px;
    margin-top: 10px;
} */

/* .signup__errors {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 15px;
} */

//ERRORS

.login__errors {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

// HOMEPAGE

.home {
    background-color: #EAEDED;
}

.homepage_containerbackgroundImage {
    background-image: url("https://i.imgur.com/SYHeuYM.jpeg");
    min-height: 600px;
    background-position: center;
    background-size: cover;
    z-index: 1;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0));
}

.homepage__container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.homepage_containerContents {
    // background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -350px;
    // z-index: 100;
    display: flex;
    justify-content: center;
}

.product__container {
    background-color: white;
    z-index: 100;
    flex: 1;
    padding: 20px;
    margin: 10px;
    max-height: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.product__componentPrice {
    font-weight: 500;
    margin-top: 3px;;
}

.product__componentImage {
    max-height: 200px;
    object-fit: contain;
}

.product__componentCart {
    width: 100px;
    height: 30px;
    background-color: #f0c14b;
    border: 2px solid #a88734;
    border-radius: 2px;
    justify-content: center;
}

.product__componentCartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.product__componentTitle {
    max-width: 400px;
}

// FOOTER

.footer__component{
    height: 40px;
    text-align: center;
    background-color: #37475a;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}